.container {
  display: flex;
  justify-content: center;
  max-width: 1444px;
  width: 75%;
}
@media (max-width: 770px) {
  .container {
    width: 100%;
  }
}

@media (max-width: 448px) {
  .container {
    width: 125%;
  }
}
